/.vs/
/*.suo
/*.Tests/Scripts/WebSharper/
/*.Tests/Content/WebSharper/
/build/
/*/bin/
/*/obj/
/packages/
/tools/packages/
/WebSharper.GoldenLayout.Sample/Content/

bin/
obj/
/.fake/
/paket-files/
/.vscode/
